$main-color: #27bf75;

$onyx-black: #040404;
$black: #121212;

$dark-grey: #282828;
$grey: #272727;
$light-grey: #b3b3b3;

$large-screen: "only screen and (max-width: 1200px)";
$medium-screen: "only screen and (max-width: 1024px)";
$small-screen: "only screen and (max-width: 667px)";
$extra-small-screen: "only screen and (max-width: 375px)";
