$main-color: #27bf75;
$light-main-color: #00ff83;

$onyx-black: #040404;
$black: #121212;

$dark-grey: #282828;
$grey: #272727;
$light-grey: #b3b3b3;

$small-screen: "only screen and (max-width: 667px)";
